<div id='container'>
<!-- Your code here -->
<!-- START SOLUTION -->
  <div class="container-fluid">
    <nav class="navbar navbar-default" role="navigation" bs-navbar>
      <div class="navbar-header">
        <a class="navbar-brand" href="#">RunKeeper</a>
      </div>
      <ul class="nav navbar-nav">
        <li data-match-route="/$"><a href="#/myprofile">My Profile</a></li>
        <li data-match-route="/$"><a href="#/myprofile">Friends</a></li>
        <li data-match-route="/addrun"><a href="#/addrun"><strong>Add Run</strong></a></li>
      </ul>
    </nav>
  </div>

  <div class="container-fluid">
  <form ng-submit="processRun()" name="runForm">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title">Level of Exertion: </h3>
      </div>

      <div class="panel-body">
      <p>This is your perceived level of exertion. 1 Being low and 10 being maximum. 1 would be the equivilent to a casual walk and ten would be similar to a race.</p>
        <div class="btn-group" ng-model="run.exertion" bs-radio-group bs-tooltip="tooltipExertion" data-type="info" data-animation="am-fade-and-scale" data-trigger="focus" >

        <label bs-tooltip="tooltipExertion" data-trigger="focus" class="btn btn-default"><input type="radio" class="btn btn-default" value="1"> 1</label>
        <label bs-tooltip="tooltipExertion" data-trigger="focus" class="btn btn-default"><input type="radio" class="btn btn-default" value="2"> 2</label>
        <label bs-tooltip="tooltipExertion" data-trigger="focus" class="btn btn-default"><input type="radio" class="btn btn-default" value="3"> 3</label>
        <label bs-tooltip="tooltipExertion" data-trigger="focus" class="btn btn-default"><input type="radio" class="btn btn-default" value="4"> 4</label>
        <label bs-tooltip="tooltipExertion" data-trigger="focus" class="btn btn-default"><input type="radio" class="btn btn-default" value="5"> 5</label>
        <label bs-tooltip="tooltipExertion" data-trigger="focus" class="btn btn-default"><input type="radio" class="btn btn-default" value="6"> 6</label>
        <label bs-tooltip="tooltipExertion" data-trigger="focus" class="btn btn-default"><input type="radio" class="btn btn-default" value="7"> 7</label>
        <label bs-tooltip="tooltipExertion" data-trigger="focus" class="btn btn-default"><input type="radio" class="btn btn-default" value="8"> 8</label>
        <label bs-tooltip="tooltipExertion" data-trigger="focus" class="btn btn-default"><input type="radio" class="btn btn-default" value="9"> 9</label>
        <label bs-tooltip="tooltipExertion" data-type="info" data-animation="am-fade-and-scale" data-trigger="focus" class="btn btn-default"><input type="radio" class="btn btn-default" value="10"> 10</label>
        <br><br><br>
        </div>
      </div>

      <div class="panel-heading">
        <h3 class="panel-title">Distance:</h3>
      </div>

      <div class="panel-body">
        <div class="form-group">
          <p> Enter your total distance ran in miles. Decimals are OK.</p>
          <input type="number" class="form-control" ng-model="run.distance" placeholder="Distance in miles"  required="required" bs-typeahead data-trigger="focus" bs-tooltip="tooltipDistance">
        </div>
      </div>

      <div class="panel-heading">
        <h3 class="panel-title">Duration:</h3>
      </div>

      <div class="panel-body" bs-tooltip="'Enter the total amount of minutes you've ran.'" >
        <div class="form-group" >
          <input type="number" class="form-control" ng-model="run.time" placeholder="Total minutes" required="required" bs-typeahead data-trigger="focus" bs-tooltip="tooltipTime">
        </div>
      </div>

      <div class="panel-heading">
        <h3 class="panel-title">Notes:</h3>
      </div>

      <div class="panel-body">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="run.message" placeholder="Messages" bs-typeahead data-trigger="focus" bs-tooltip="tooltipNotes">
        </div>
      </div>

      <center>
        <div bs-tooltip="'Please complete all fields with valid data to submit'" style="display: inline-block;" data-placement="right">
        <button class="btn btn-primary" type="submit" value="addrun">
          Submit
        </button>
        </div>
      </center>
      <br>

    </div>
    </form>
  </div>


</div>